numpy>=1.26.0
tensorflow>=2.15.0
xgboost
pandas>=1.5.0
matplotlib>=3.7.0
hurst
arch
iisignature>=0.24
torch
keras
gurobipy
cvxpy>=1.3.0
scikit-learn>=1.2.0
tf-keras
# Add any other packages your project needs